<div class="deferred-block deferred-block--chart deferred-block--skeleton" data-block="chart-widget">
    <div class="skeleton skeleton--chart"></div>
    <div class="deferred-block__label">Loading chart…</div>
</div>
