<div class="deferred-block deferred-block--countdown deferred-block--skeleton" data-block="countdown-timer">
    <div class="skeleton skeleton--text skeleton--narrow"></div>
    <div class="skeleton skeleton--timer"></div>
    <div class="deferred-block__label">Loading timer…</div>
</div>
