<div class="deferred-block deferred-block--notification deferred-block--skeleton" data-block="notification-bell">
    <div class="skeleton skeleton--bell"></div>
    <div class="deferred-block__label">Loading notifications…</div>
</div>
