<div class="deferred-block deferred-block--carousel deferred-block--skeleton" data-block="product-carousel">
    <div class="carousel skeleton-carousel">
        {% for i in 1..3 %}
        <div class="carousel__item">
            <div class="product-card product-card--skeleton">
                <div class="skeleton skeleton--text skeleton--wide"></div>
                <div class="skeleton skeleton--text skeleton--narrow"></div>
                <div class="skeleton skeleton--badge"></div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="deferred-block__label">Loading products…</div>
</div>
