<div class="deferred-block deferred-block--filter deferred-block--skeleton" data-block="search-filter">
    <div class="skeleton skeleton--select"></div>
    <div class="skeleton skeleton--range"></div>
    <div class="skeleton skeleton--button"></div>
    <div class="deferred-block__label">Loading filters…</div>
</div>
