<div class="reactive-block reactive-block--analytics reactive-block--skeleton" data-block="reactive-analytics">
    <div class="analytics-panels">
        {% for i in 1..3 %}
        <div class="analytics-panel analytics-panel--skeleton">
            <div class="skeleton skeleton--text skeleton--narrow"></div>
            <div class="skeleton skeleton--value"></div>
        </div>
        {% endfor %}
    </div>
    <div class="reactive-block__label">Waiting for analytics jobs…</div>
</div>
