<div class="reactive-block reactive-block--import reactive-block--skeleton" data-block="reactive-import">
    <div class="skeleton skeleton--counter"></div>
    <div class="skeleton skeleton--progress"></div>
    <div class="reactive-block__label">Waiting for import job…</div>
</div>
