<div class="reactive-block reactive-block--report reactive-block--skeleton" data-block="reactive-report">
    <div class="skeleton skeleton--progress"></div>
    <div class="skeleton skeleton--text skeleton--narrow"></div>
    <div class="reactive-block__label">Waiting for report job…</div>
</div>
